{% load staticfiles %}

<html>
<head>
    <link rel="stylesheet" media="all" href="{% static 'task_processor/css/jquery.dynatable.css' %}" />
    <link rel="stylesheet" media="all" href="{% static 'task_processor/css/font.css' %}" />
    <script type="text/javascript" src="{% static 'task_processor/js/jquery-1.11.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'task_processor/js/jquery.dynatable.js' %}"></script>
</head>

<body>
<table id="my-final-table">
  <thead>
    <th>status</th>
    <th>image_id</th>
  </thead>
  <tbody>
  </tbody>
</table>

<script>
$( document ).ready(function() {
var tasks = {{neural_tasks|safe}};
$('#my-final-table').dynatable({
  dataset: {
    records: tasks
  }
});
});
</script>
</body>

</html>
